body{
    font-family: sans-serif;
    padding: 20px;
    background: aquamarine;
}

.slider{
    width: 80%;
    margin: 0 auto;
}

.slide-item{
    height: 300px;
    display: flex !important;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    font-weight: bold;
    background: white;
    border: 1px solid #ddd;
}

.slide-item img{
    width: 100%;
    height: 300px;
    object-fit: cover;
    display: block;
}